body {
  --bs-black-rgb: 29, 28, 28;
  --bs-dark-rgb: 40, 40, 40;
  --bs-light-rgb: 51, 51, 51;
  --bs-primary-rgb: 112, 142, 247;
}
.sideMenu {
  height: 100vh!important;
  position: fixed!important;
  top: 0;
  right: 0;
  z-index: 1000;
}
.sideMenuClose {
  position: absolute;
  right: 0;
}
.sideMenuTitles {
  font-size: 10px;
  color: rgb(170, 170, 170);
  width: 190px;
  display: inline-block;
}
.sideMenuLists {
  background-color: transparent;
  font-size: 14px;
  width: 190px;
  display: inline-block;
}
.form-control[type="text"]::placeholder, .search {
  color: rgb(170, 170, 170)!important;
}
.search:hover, .dropdown-item:hover {
  background-color: rgb(70, 70, 70)!important;
}
.checkMark, .cardLinks, .learnMore {
  color: rgb(112, 142, 247);
}
.greenBG {
  background-color: rgb(82, 181, 145);
  margin-top: -230px!important;
}
.greenBG h1 {
  margin-top: 230px;
}
.addChromeBlack {
  background-color: rgba(0, 0, 0, 0.6)!important;
}
.accordion, .accordion-button {
  --bs-btn-border-color: transparent;
  --bs-accordion-border-color: rgb(29, 28, 28);
  --bs-accordion-btn-bg: rgb(29, 28, 28);
  --bs-accordion-active-bg: rgb(29, 28, 28);
  --bs-accordion-active-color: white;
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
}
.form-control[type="text"], .accordion-button:focus {
  outline: none!important;
  box-shadow: none!important;
}
.dropdown-toggle::after {
  display: none!important;
}